<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-current.dtd">
<suite name="Crypto Exchange QA Suite" parallel="none" verbose="2">

    <listeners>
        <listener class-name="io.qameta.allure.testng.AllureTestNg"/>
    </listeners>

    <test name="UI Tests" enabled="true">
        <classes>
            <class name="com.trading.ui.LoginTests"/>
            <class name="com.trading.ui.PurchaseFlowTests"/>
            <class name="com.trading.ui.DashboardTests"/>
            <class name="com.trading.ui.CartTests"/>
            <class name="com.trading.ui.CheckoutTests"/>
            <class name="com.trading.ui.BugReportingTest"/>
        </classes>
    </test>

    <test name="API Tests" enabled="true">
        <classes>
            <class name="com.trading.api.TradingAPITests"/>
        </classes>
    </test>

</suite>